@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primary-color: #1e9e6a;

    --dark: #1a202c;

    --gray-10: #656769;
    --gray-20: #e8e8e8;
    --gray-30: #f7fafc;

    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
}

html {
    font-size: 62.5%;
}

@media (width >= 992px) {
    body {
        background: rgb(243, 255, 242);
        background-repeat: no-repeat;
        background: linear-gradient(90deg, rgba(243, 255, 242, 1) 50%, rgba(255, 255, 255, 1) 50%);
    }
}

#root {
    max-width: 121.6rem;
    margin: 0 auto;
}