@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .navItemLink {
        @apply bg-[#67676763] py-2 px-3 rounded-[50px] cursor-pointer text-white text-xs uppercase tracking-[.5px] duration-300 hover:text-green-primary md:mx-0 md:text-sm md:py-3 md:px-5;
    }
}

:root {
    --brand-color: #9BF00B;

    --dark: #0c0c0c;

    --gray-10: #777777;
    --gray-20: #C0C0C0;

    --white: #FFFFFF;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #0D100C;
}

#root {
    max-width: 1216px;
    margin: 0 auto;
}