.hero {
    padding: 0 2rem;
}

.containerImageHero {
    margin-top: -2rem;
    text-align: center;
}

.imageHero {
    width: 30rem;

    @media (width >=768px) {
        width: 32.7rem;
    }
}

.heroContent {
    margin: -2rem auto 0;
    color: var(--white);
    max-width: 44.8rem;
}

.heroDirector {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.heroTitle {
    font-size: 4rem;
    font-family: 'Andada Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    padding-right: 5rem;
    margin-top: .8rem;
    line-height: 4.4rem;
}

.heroDescription {
    margin-top: 2.2rem;
    font-family: 'Archivo', sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
}

.containerButtons {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}


@media (width >=1200px) {
    .hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .containerImageHero {
        margin: 0;
    }

    .imageHero {
        width: 57.4rem;
    }

    .heroContent {
        flex: 1;
        max-width: 50.2rem;
        margin: 0;
    }

    .heroDirector {
        font-size: 2rem;
    }

    .heroTitle {
        font-size: 6.4rem;
        line-height: 7rem;
    }

    .heroDescription {
        line-height: 3.6rem;
        font-size: 2.4rem;
    }

    .containerButtons {
        flex-direction: row;
    }
}