@import url("https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Jolly Lodger", system-ui;
    background: rgb(38, 24, 86);
    background-image: radial-gradient(circle, rgba(38, 24, 86, 1) 0%, rgba(1, 0, 21, 1) 86%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#root {
    max-width: 102.4rem;
    margin: 0 auto;
    padding: 0 3rem;
}