@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
p,
span {
    transition: all .3s;
}

.cardContainerImage {
    @apply bg-gray-primary p-10;
}

.cardImage {
    transition: all .4s;
    @apply mx-auto hover:scale-110;
}

.cardShoesName {
    @apply text-lg font-medium;
}

.cardShoesCategory {
    @apply mt-2 text-primary-color font-medium;
}

.cardShoesPrice {
    @apply mt-3 text-xl font-medium;
}