@import '../../App.css';

.button {
    width: 100%;
    color: #FFF;
    padding: 1.4rem 3.2rem;
    font-size: 1.6rem;
    font-weight: 500;
    transition: all .3s;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
}

.login {
    background-color: var(--primary-color);
    border: .2rem solid var(--primary-color);

    &:hover {
        background-color: transparent;
        color: var(--primary-color);
    }
}

.loginGoogle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    background-color: var(--dark);
    border: .2rem solid var(--dark);

    img {
        width: 1.6rem;
    }
}