
:root {
  --brand-color: #846aff;

  --dark: #121214;

  --gray-10: #7c7c8a;
  --gray-20: #eaeaea;
  --gray-30: #eeeeff;
  --gray-40: #f8f8ff;

  --white: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
}

/* link do figma: https://www.figma.com/design/Yb9IBH56g7T1hdIyZ3BMNO/Desafios---CodeLab?node-id=257106-1817&t=roZ31alpXfoDlrCc-0 */