@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #121214;
}

h1,
h2 {
  font-family: "Space Grotesk", sans-serif;
}

p,
span,
input {
  font-family: "Inter", sans-serif;
}

input[type=search]::-webkit-search-cancel-button {
  display: none;
}

.header {
  background-color: #17171A;
}
.header__content {
  text-align: center;
  padding: 4rem 3rem;
  max-width: 130rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .header__content {
    padding: 6rem 4rem;
  }
}
.header__title {
  font-size: 2.4rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .header__title {
    font-size: 4rem;
  }
}
.header__title span {
  color: #e07b67;
}
.header__search-container {
  margin-top: 4rem;
  background-color: #202024;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  border: 2px solid #252529;
}
@media (min-width: 768px) {
  .header__search-container {
    gap: 2rem;
  }
}
.header__search-container img {
  width: 2rem;
}
@media (min-width: 768px) {
  .header__search-container img {
    width: 3rem;
  }
}
.header__search-container input {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .header__search-container input {
    font-size: 2rem;
  }
}
.header__search-container input::placeholder {
  color: #AFABB6;
}
.header__search-container input:focus {
  outline: none;
}

main {
  padding: 0 3rem 3rem 5rem;
  max-width: 130rem;
  margin: 4rem auto 0;
}
@media (min-width: 768px) {
  main {
    margin-top: 6rem;
    padding: 0 4rem;
  }
}

.news-container {
  background-color: #17171A;
  margin-bottom: 3rem;
  border-radius: 1rem;
  border: 2px solid #252529;
  padding: 2rem;
  transition: all 0.3s;
}
@media (min-width: 768px) {
  .news-container {
    padding: 3rem;
    margin-bottom: 4.5rem;
  }
}
.news-container__date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news-container__date span {
  color: #e07b67;
  font-size: 1.3rem;
}
@media (min-width: 768px) {
  .news-container__date span {
    font-size: 1.4rem;
  }
}
@media (min-width: 992px) {
  .news-container__date span {
    font-size: 1.6rem;
  }
}
.news-container__date .icon-heart {
  font-size: 2.5rem;
  color: #e07b67;
}
@media (min-width: 768px) {
  .news-container__date .icon-heart {
    font-size: 3rem;
  }
}
.news-container__content {
  margin-top: 2rem;
}
.news-container__title {
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: 400;
}
@media (min-width: 992px) {
  .news-container__title {
    font-size: 2.4rem;
  }
}
.news-container__description {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  color: #AFABB6;
  line-height: 2.4rem;
}
@media (min-width: 768px) {
  .news-container__description {
    font-size: 1.6rem;
  }
}
@media (min-width: 992px) {
  .news-container__description {
    font-size: 2rem;
    line-height: 3.2rem;
  }
}

.icon-heart {
  color: #e07b67;
  cursor: pointer;
}

.border {
  transition: all 0.3s;
  border: 2px solid #e07b67;
}

.footer {
  padding: 5rem 3rem;
  text-align: center;
  background-color: #17171A;
  color: #FFFFFF;
}
.footer-paragraph {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer-paragraph {
    font-size: 1.6rem;
  }
  .footer-paragraph br {
    display: none;
  }
}
.footer-paragraph a {
  color: #e07b67;
  transition: all 0.3s;
}
.footer-paragraph a:visited {
  color: #e07b67;
}
.footer-paragraph a:hover {
  color: #f56f54;
}

/*# sourceMappingURL=app.css.map */
