@use '../abstract/colors' as color;
@use '../abstract/breakpoints' as media;

.footer {
    padding: 5rem 3rem;
    text-align: center;
    background-color: #d4ccfd73;

    &__assignments {
        font-size: 1.4rem;
        line-height: 2.2rem;
        font-weight: 500;

        a {
            color: color.$brand-color;
        }
    }
}