@use '../abstract/colors' as color;
@use '../abstract/breakpoints' as media;

.footer {
    padding: 5rem 3rem;
    text-align: center;
    background-color: #d4ccfd73;

    &__assignments {
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 500;

        @include media.tablet {
            br {
                display: none;
            }
        }

        a {
            color: color.$brand-color;
            transition: all .3s;

            &:visited {
                color: color.$brand-color;
            }

            &:hover {
                color: #674ee2;
            }
        }
    }
}