@use '../abstract/colors' as color;
@use '../abstract/breakpoints' as media;

.header {
    background-color: color.$gray-40;

    &__limit {
        max-width: 121.6rem;
        margin: 0 auto;
        padding: 6.4rem 0;
        display: flex;
        flex-direction: column-reverse;
        gap: 2.4rem;
        text-align: center;

        @include media.desktop {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            text-align: left;
            padding: 6.4rem 4rem;
        }
    }

    &__content {
        padding: 0 2.1rem;

        @include media.tablet {
            padding: 0;
            max-width: 46.6rem;
            margin: 0 auto;
        }

        @include media.desktop {
            margin: 0;
            max-width: 58.1rem;
        }
    }

    &__title {
        font-size: 2.4rem;
        line-height: 2.88rem;

        @include media.tablet {
            font-size: 3.2rem;
            line-height: 3.84rem;
        }

        @include media.desktop {
            font-size: 4rem;
            line-height: 4.8rem;
        }

        span {
            color: color.$brand-color;
        }
    }

    &__description {
        max-width: 55rem;
        margin: 2.4rem auto 0;
        font-size: 1.6rem;
        line-height: 2.4rem;

        @include media.tablet {
            font-size: 2rem;
            line-height: 3rem;
        }

        @include media.desktop {
            font-size: 2.4rem;
            line-height: 3.6rem;
            margin: 3.2rem 0 0;
        }

        br {
            display: none;

            @include media.tablet {
                display: block;
            }
        }

    }

    &__btn {
        margin-top: 2.4rem;
        width: 96%;
        padding: 1.4rem;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.641rem;

        @include media.tablet {
            width: 21.4rem;
            font-size: 1.8rem;
        }

        @include media.desktop {
            margin-top: 3.3rem;
        }
    }

    &__image-container img {
        width: 20.7rem;
        max-width: 40rem;
        margin: 0 auto;

        @include media.tablet {
            width: 33rem;
        }

        @include media.desktop {
            width: 100%;
        }
    }
}