@use '../abstract/colors' as color;
@use '../abstract/breakpoints' as media;


.recommended-articles {
    margin-top: 7rem;
    padding: 0 2rem;

    &__title {
        font-size: 2.4rem;

        @include media.tablet {
            font-size: 2.8rem;
        }

        @include media.desktop {
            font-size: 3.2rem;
        }
    }

    &__container {
        margin-top: 4.5rem;
        display: flex;
        flex-direction: column;
        gap: 3.2rem;

        @include media.tablet {
            margin-top: 6rem;
        }

        @include media.desktop {
            margin-top: 12rem;
        }
    }

    &__article {
        outline: 2px solid color.$gray-30;
        border-radius: .8rem;
        transition: all .3s;

        &:hover {
            outline: 2px solid color.$brand-color;
        }
    }

    &__image {
        overflow: hidden;
        border-radius: .8rem .8rem 0 0;
    }

    &__image img {
        width: 100%;
        border-radius: .8rem .8rem 0 0;
        transition: all .4s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__content {
        padding: 2.4rem 1.8rem;

        @include media.extraSmallDevices {
            padding: 2.4rem 4.8rem 2.4rem 1.8rem;
        }
    }

    &__title-article {
        font-size: 1.75rem;
        line-height: 2.34rem;

        @include media.mobile {
            max-width: 28.5rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        @include media.extraSmallDevices {
            width: 100%;
            font-size: 2rem;
            line-height: 2.7rem;

            br {
                display: none;
            }
        }

    }

    &__description {
        margin-top: 1.5rem;
        font-size: 1.4rem;
        line-height: 2.1rem;

        @include media.extraSmallDevices {
            font-size: 1.6rem;
            line-height: 2.3rem;
        }
    }
}